.nav-center-block {
    display: block;
    margin-right: 20%;
    margin-left: 20%;
}




.article-item {
    width: 23rem;
    height: 24.5rem;
    margin-right: 1.0rem;
    margin-bottom: 1.0rem;
    float: left;
    background-color: #fff;
    position: relative;
    border: 0.0625rem solid rgba(0,0,0,.05);
}

.article-item:hover {
    box-shadow: 0.125rem 0.125rem 0.1875rem 0.0rem rgba(170, 170, 170, 0.25);
}

.article-image img{
     width: 99.5%; 
     height: 16rem;
     max-width: 100%; 
     display: block; 
     float: right;
}

.article-item .article-label {
    position: absolute;
    padding: 0 1rem;
    color: #fff;
    top: 1rem;
    left: 1rem;
    font-size: 1.3rem;
    line-height: 1.5rem;
    background-color: rgba(0,0,0,.5);
    border-radius: 0.125rem;
    z-index: 20;
}

body .cover-block {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.article-item .article-link {
    z-index: 10;
}

.article-item h3 {
    padding: 1rem 0.625rem 0;
    font-weight: 400;
    height: 4.5rem;
    overflow: hidden;
    margin-bottom: 1rem;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    font-size: 1.5rem;
    line-height: 1.25rem;
    margin-bottom: 1.0625rem;
    color: #333;
}

.article-item time {
    float: left;
    font-size: 1.2rem;
    padding: 0 0 0 0.625rem;
    color: #999;
}

.article-item .article-src {
    float: right;
    position: relative;
    z-index: 100;
    padding: 0 0.625rem 0 0;
    text-align: right;
    color: #999;
    bottom:0.5rem;
}

.article-item .article-src .article-src-icon{
    font-size: 1.2rem;
}
.article-item .article-src .article-src-text{
    font-size: 1.4rem;
    padding-right: 0rem;
}



.load-more-card{
    width: 100%;
    height: 46px;
    text-align: center;
    line-height: 46px;
    font-size: 1.4rem;
    color: #666;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,.1);
}
.load-more-card:hover {
    box-shadow: 0.125rem 0.125rem 0.1875rem 0.0rem rgba(170, 170, 170, 0.25);
}

.load-more-card span {
    display: block;
    height: 100%;
}

.js-load-more {
    cursor: pointer;
    display: none;
}